*{
    margin: 0;
    padding: 0;
    font-family: 'SpotifyMixUI', 'CircularSp-Arab', CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

:root{
    --a:0;
    --b:60px;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 23vw;
    height: 82vh;
    gap: 4px;
    transition: all 0.7s ease-in;
}
.right{
    padding-top: 10px;
    width: 77vw;
    height: 82vh;
    /* overflow: auto; */
}
.playbar{
    width: 100%;
    height: 12vh;
    z-index: 11;
    position: fixed;
    bottom: 0;
    /* background-color: #1ed760; */
}

/* _________________________Left______________________________*/


.home{
    height: 17vh;
}
.side{
    justify-content: space-between;
}
.home ul li{
    display: flex;
    gap :20px;
    width: 25px;
    font-size: 15px;
    font-weight: 700;
    list-style: none;
    padding-top: 21px;
}

.library{
    margin-top: 10px;
    height: 54vh;
    overflow: auto; 
}
.heading{
    gap:20px;
}
.heading img{
    width: 20px;
}
.song-list{
    margin-top: 10px;
}
.info div{
    word-break: break-all;
}
.song-list ul{
    margin-top: 15px;
}
.song-list ul li{
    display: flex;
    gap: 10px; 
    list-style: none;
    padding: 5px;
    position: relative;
}
.song-list ul li:hover{
    background-color: #252525;
    border-radius: 7px;
    text-decoration: underline;
}
.song-list ul img{
    cursor: pointer;
    width: 30%;
    object-fit: contain;
}

.song-list ul #play1{
    cursor: pointer;
    position: absolute;
    width: 23px;
    left: 30px;
    bottom: 20px;
    opacity: 0;
}
.song-list ul #play1:hover{
    opacity: 1;
    scale: 1.2;
}


/* .footer{
    font-size: 10px;
    gap: 5px;
    position: absolute;
    bottom: 4px;
    left:0;
}
.footer a{
    color: gray;
    text-decoration: none;
} */



/* _________________________Right______________________________*/


.header{
    justify-content: space-between;
    /* background-color: #101010; */
}
.header > *{
    padding: 7px 20px;
}

.nav{
    gap: 18px;
}
.login{
    padding: 15px 30px;
    font-weight: 700;
    font-size: 15px;
    border: none;
    outline: none;
}
.login:hover{
    scale: 1.05;
    /* font-size: 15.2px; */
    cursor: pointer;
}
.signup{
    border: none;
    outline: none;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 15px;
    color: #696969;
    background-color: black;
}
.signup:hover{
    scale: 1.05;
    color: white;
    /* font-size: 15.2px; */
    cursor: pointer;
}

.spotifyPlaylists{
    overflow-y: scroll;
    background-color: #101010;
    height: 75vh;
}
.spotifyPlaylists h1{
    padding: 16px;
}
.card{
    width: 11vw;
    /* height: 250px; */
    position: relative;
    margin: 10px;
    font-size: 12px;
    transition: all 0.5s ease-out;
}


.card:hover{
    background-color: #4b4b4b;
    cursor: pointer;
    --a: 1;
    --b: 70px;
}


.card > *{
    padding-top: 4px;
}
.cardContainer{
    gap: 10px;  
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    /* height: 60%; */
    object-fit: contain;
}
.circle-container{
    position: absolute;
    z-index: 11;
    bottom: var(--b);
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 38px;
    background-color: #1ed760;
    border-radius: 50%;
    opacity: var(--a);
    transition: all 0.2s ease-out;
}
.circle-container svg{
    width: 26px;
    height: 22px;
    padding-bottom: 3px;
}


 /*--------------------  playbar ----------------------------------------  */

.controls{
    justify-content: center;
    position: relative;
    /* gap: 20px; */
}
.controlbtn img{
    padding: 10px;
}
.controlbtn img:hover{
    cursor: pointer;
}


.seekbar{
    background-color: #252525;
    height: 4px;
    width: 40vw;
    cursor: pointer;
    border-radius: 4px;
}
.circle{
    position: relative;
    bottom: 2px;
    background-color: azure;
    border-radius: 4px;
    height: 8px;
    width: 8px;
    left: 0%;
    cursor: pointer;
}
.songtime, .songcurrent{
    margin: 4px;
    font-size: 11px;
    /* position: absolute;
    right: 45vw; */
}
.songinfo{
    font-size: 22px;
    padding: 15px 42px;
    position: absolute;
    font-weight: 500;
}
.volume{
    padding: 15px 42px;
    position: absolute;
    right: 22px;
    top: 0;
    display: flex;
    gap: 10px;
}
input[type="range"]{
    background-color: #252525;
    height: 5px;
    width: 9vw;
    cursor: pointer;
    border-radius: 4px;
    /* -webkit-appearance: none;  */
    /* margin-top: 10px; */
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    width: 8px; /* Small circular thumb */
    height: 8px;
    background: #ffffff; /* White thumb */
    border-radius: 50%; /* Round thumb */
}


/* ______________________Responsiveness___________________ */

.hamburger, .lgo, .close{
    display: none;
}

@media (max-width: 900px) {
    .left{
        z-index: 51;
        position: absolute;
        left: -100%;
    }
    
    .right{
        width: 100%;
    }
    .login{
        padding: 7px 15px;
    }
    .card{
        font-size: 8px;
    }
    .cardContainer{
        justify-content: center;
    }
    .hamburger, .close, .lgo{
       display: block;
    }
    .lft, .ryt{
        display: none;
    }
    .songinfo{
        font-size: 10px;
        padding: 15px 5px;
    }
}
@media (max-width: 795px) {
    .left{
        width: 90vw;
    }
    .card{
        width: 30vw;
    }
    .volume{
        padding: 15px 10px;
        position: absolute;
        right: 10px;
        display: table-column;
    }
    .volume img{
        width: 15px;
        margin-left: 3.5vw;
    }
    input[type="range"]{
        background-color: #252525;
        height: 8px;
        width: 10vw;
    }
}