*{
    margin: 0;
    padding: 0;
    font-family: 'SpotifyMixUI', 'CircularSp-Arab', CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 23vw;
    height: 88vh;
    gap: 4px;
    overflow: auto;
}
.right{
    padding-top: 10px;
    width: 77vw;
    height: 86vh;
    overflow: auto;
}
.playbar{
    width: 100%;
    height: 12vh;
    z-index: 11;
    position: fixed;
    bottom: 0;
    /* background-color: #1ed760; */
}

/* _________________________Left______________________________*/



.home ul li{
    display: flex;
    gap :20px;
    width: 25px;
    font-size: 15px;
    font-weight: 700;
    list-style: none;
    padding-top: 21px;
}

.library{
    margin-top: 10px;
    height: 61%;
    position: relative;
    overflow: auto;
}
.heading{
    gap:20px;
}
.heading img{
    width: 20px;
}
.song-list{
    margin-top: 10px;
    /* height: 354px; */
    overflow: auto;
}
.song-list ul{
    margin-top: 15px;
    position: relative;
}
.song-list ul li{
    display: flex;
    gap: 10px; 
    list-style: none;
    padding: 5px;
    position: relative;
}
.song-list ul li:hover{
    background-color: #252525;
    border-radius: 7px;
    text-decoration: underline;
}
.song-list ul img{
    cursor: pointer;
    width: 30%;
    /* height: 20%; */
    object-fit: contain;
}

.song-list ul #play1{
    cursor: pointer;
    position: absolute;
    width: 23px;
    left: 30px;
    bottom: 20px;
    opacity: 0;
}
.song-list ul #play1:hover{
    opacity: 1;
    scale: 1.2;
}


/* .footer{
    font-size: 10px;
    gap: 5px;
    position: absolute;
    bottom: 4px;
    left:0;
}
.footer a{
    color: gray;
    text-decoration: none;
} */



/* _________________________Right______________________________*/


.header{
    justify-content: space-between;
    /* background-color: #101010; */
}
.header > *{
    padding: 7px 20px;
}
.login{
    padding: 15px 30px;
    font-weight: 700;
    font-size: 15px;
    border: none;
    outline: none;
}
.login:hover{
    scale: 1.05;
    /* font-size: 15.2px; */
    cursor: pointer;
}
.signup{
    border: none;
    outline: none;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 15px;
    color: #696969;
    background-color: black;
}
.signup:hover{
    scale: 1.05;
    color: white;
    /* font-size: 15.2px; */
    cursor: pointer;
}

.spotifyPlaylists{
    overflow-y: scroll;
    background-color: #101010;
    height: 88%;
}
.spotifyPlaylists h1{
    padding: 16px;
}
.spotifyPlaylists .card{
    width: 169px;
    height: 280px;
    position: relative;
}
.card > *{
    padding-top: 4px;
}
.cardContainer{
    gap: 10px;  
    flex-wrap: wrap;
    max-height: 72vh;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.circle-container{
    position: absolute;
    bottom: 85px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    background-color: #1ed760;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.circle-container svg{
    width: 40px;
    height: 26px;
}


 /*--------------------  playbar ----------------------------------------  */

.controls{
    justify-content: center;
    position: relative;
    /* gap: 20px; */
}
.controlbtn img{
    padding: 10px 10px 10px 10px;
}
.controlbtn img:hover{
    cursor: pointer;
}
/* .controlbtn{
    padding-bottom: 5px;
    margin-left: 400px;
} */


.seekbar{
    /* position: absolute; */
    /* bottom: 30px; */
    background-color: #252525;
    height: 4px;
    width: 40vw;
    cursor: pointer;
    /* margin: 0 33vw; */
    border-radius: 4px;
}
.circle{
    position: relative;
    bottom: 2px;
    background-color: azure;
    border-radius: 4px;
    height: 8px;
    width: 8px;
    left: 0%;
    cursor: pointer;
}
.songtime, .songcurrent{
    margin: 4px;
    font-size: 11px;
    /* position: absolute;
    right: 45vw; */
}
.songinfo{
    padding: 0 12px;
    margin-right: 90px;
    position: absolute;
    left: 0;
}